snippet b "code bloc" i
{
	$1
}
endsnippet

snippet po "out put" i
printf("\n============ out put ================\n\n");
endsnippet

snippet p "print and center" i
printf("$1\n", $2);
endsnippet

snippet m "main" i
int main() {
	$1

	return 0;
}
endsnippet

snippet s "weak seg" i
// -------------------------$1-------------------------
endsnippet

snippet S "strong seg" i
// =========================$1=========================
endsnippet
