snippet s "segment line (weak)" i
------------------------------------------------------------------------------
endsnippet

snippet S "segment (strong)" i
==============================================================================
endsnippet
