snippet c "code" i
<code>$1</code>
endsnippet

# f: font
snippet f1 "font size 1" i
<font size="1">$1</font>
endsnippet

snippet f2 "font size 1" i
<font size="2">$1</font>
endsnippet

# s: space
snippet s "space" i
&nbsp
endsnippet
