# s: segment line
snippet ## "segment line with '='" i
" ######################################################################
endsnippet

snippet == "segment line with '='" i
" ======================================================================
endsnippet

snippet -- "segment line with '-'" i
" ----------------------------------------------------------------------
endsnippet

snippet h1 "head level 1"
" ==========
endsnippet

snippet h2 "head level 2"
" ----------
endsnippet
