snippet seg- "segment line with '-'" i
" --------------------------------------------------------------------------------
endsnippet

snippet seg= "segment line with '='" 1
" ================================================================================ 
endsnippet
