# mac os
.DS_Store

# plugs
/plugged

# vim-plug
/autoload/plug.vim
/autoload/plug.vim.old

# other might useless
/set

# auto-generate by vim
/.netrwhist
/sessions/default.vim
*.swp

# ignore temporary directory
temp/

# ignore help tag
doc/tags